#ignore all files
*

#unignore all directoires
!*/

#ignore unnecessary directories
.vscode
build
.venv

#uv
!pyproject.toml
!.python-version
!uv.lock

#unignore specified files
!*.cpp
!*.hpp
!*.h
!*.c
!*.py
!*.ipynb
!*.txt
!*.csv
!*.png
!*.pdf
!*.md
!.gitignore